[Unit]
Description=BESI-C Router
After=network.target
Requires=hostapd.service dnsmasq.service dhcpcd.service

[Service]
Type=simple
User=root
Group=root
StandardOutput=file:/var/log/besic/router-systemd.log
StandardError=inherit
ExecStart=/usr/bin/besic-router iptables
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
