Source: besic-autoupdates
Maintainer: Penn Bauman <pcb8gb@virginia.edu>
Section: misc
Priority: optional
Standards-Version: 4.5.0
Build-Depends: debhelper (>= 9)

Package: besic-autoupdates
Architecture: all
Depends: libbesic-tools, bash (>= 5), ${misc:Depends}
Description: BESI-C Automatic Updater
 Script and crontab to automatically update packages and reboot
